:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-text-muted: #aaaaaa;
  --color-card-brand: #79736d;
  --color-border: #000000;
  --color-border-muted: #cccccc;
  --color-surface: #f0f0f0;
  --color-danger: #df0000;

  --color-button-primary: #1b1a18;
  --color-button-primary-hover: #282624;
  --color-button-disabled-text: #c2bfbc;
  --color-button-disabled-border: #dbd9d7;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-size-2xs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --letter-spacing-button: 0.96px;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;

  --space-section: 96px;
  --space-section-heading: 40px;

  --max-width-content: 1200px;
}
