.group {
  display: flex;
}

.option {
  flex: 0 0 auto;
  min-width: 110px;
  margin-left: -1px;
  padding: var(--space-4);
  text-align: center;
  border: 1px solid var(--color-border-muted);
  background: var(--color-bg);
  color: var(--color-text);
  font-family: inherit;
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-sm);
  cursor: pointer;
}

.option:first-child {
  margin-left: 0;
}

.selected {
  position: relative;
  z-index: 1;
  border-color: var(--color-border);
}
