.group {
  display: flex;
}

.option {
  flex: 0 0 auto;
  min-width: 84px;
  margin-left: -1px;
  padding: var(--space-3);
  text-align: center;
  border: 1px solid var(--color-border-muted);
  background: var(--color-bg);
  color: var(--color-text);
  font-size: var(--font-size-xs);
  cursor: pointer;
}

.option:first-child {
  margin-left: 0;
}

@media (min-width: 768px) {
  .option {
    min-width: 100px;
    padding: var(--space-4);
    font-size: var(--font-size-sm);
  }
}

.selected {
  position: relative;
  z-index: 1;
  border-color: var(--color-border);
}
