.resultsCount {
  margin: var(--space-3) 0;
  color: var(--color-text);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
}

.results {
  transition: opacity 0.2s ease;
}

.results[data-loading] {
  opacity: 0.4;
}
